/* style.css */

  body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: black;
    color: white; 
    padding: 10px; /* Adjust padding to your preference */
    overflow-x: hidden; /* Prevent horizontal overflow */
  }

  h1 {
    font-size: 30;
    padding-left: 10px;
    color: gold;
  }
  h2 {
    font-size: 25;
    padding-left: 20px;
    color:goldenrod
  }
  h3 {
    font-size: 20;
    padding-left: 2px;
  }
  h33 {
    font-size: 9;
    padding-left: 2px;
    color:rgb(216, 207, 182);
  }
  p {
    font-size: 20px;
    padding-left: 30px;
  }
  pre {
    font-size: 20px;
    padding-left: 10px;
    color:#009800;
  }
  a {
    font-size: 23px;
    padding-left: 30px;
    color: violet;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: left;
    width: 500px;
    padding: 10px;
  }

  .navbar a {
    flex: none; /* Prevents the link from growing */
    width: 90px; /* Set a fixed width for each link */
    text-align: center; /* Centers the text inside the link */
    color: white; /* Text color */
    text-decoration: none; /* Removes underline from the links */
    padding: 10px; /* Adds padding around the text */
    background-color: #444; /* Background color of the links */
    border-radius: 4px; /* Optional: Rounds the corners of the links */
    margin: 0 5px; /* Adds some space between the links */
    transition: background-color 0.3s; /* Adds a smooth transition for background color changes */
  }

  .navbar a:hover {
    background-color: #575757;
  }
  
  faq-question {
    font-size: 20px;
    padding-left: 30px;
    color: red;
  }
  faq-answer {
    font-size: 20px;
    padding-left: 45px;
    color:yellowgreen; 
  }
  img-liked {
          width: 40%;
          height: auto; /* Maintain aspect ratio */
  }

  .links-container {
    white-space: nowrap; /* Prevents wrapping */
    overflow-x: visible; /* Allows horizontal scrolling if necessary */
  }
  
  .links-container a {
    display: inline-block; /* Keeps the links inline with each other */
    margin-right: 10px; /* Adds space between the links */
    padding: 10px; /* Adjust padding for better touch targets on mobile */
    color: violet;
    text-decoration: none; /* Remove underline */
    border-radius: 4px; /* Optional: Rounded corners */
    white-space: nowrap; /* Ensures individual links don't wrap */
  }
  
  .links-container a:last-child {
    margin-right: 0; /* Removes the margin from the last link */
  }
  
  comedian {
    font-size: 9;
    padding-left: 2px;
    color:rgb(216, 207, 182);
  }
  
  muggle {
    font-size: 9;
    padding-left: 2px;
    color:rgb(148, 23, 121);
  }

  #fullText {
    font-size: 9;
    display: none;
  }
  
  .read-more {
    font-size: 11;
    font-style: italic;
    color: blue;
    cursor: pointer;
  }
